In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Employee data files
departments_path = "data/departments.csv"
dept_emp_path = "data/dept_emp.csv"
dept_manager_path = "data/dept_manager.csv"
employees_path = "data/employees.csv"
salaries_path = "data/salaries.csv"
titles_path = "data/titles.csv"

In [3]:
# Read all the Employee data files results
departments = pd.read_csv(departments_path)
dept_emp = pd.read_csv(dept_emp_path)
dept_manager = pd.read_csv(dept_manager_path)
employees = pd.read_csv(employees_path)
salaries = pd.read_csv(salaries_path)
titles = pd.read_csv(titles_path)

In [10]:
# Merge the data into a single DataFrame
# Merging dept_emp and dept_manager on "emp_no"
merged_df = dept_emp.merge(dept_manager, on="emp_no")

# Merging the resulting DataFrame with employees on "emp_no"
merged_df = merged_df.merge(employees, on="emp_no")

# Merging the resulting DataFrame with salaries on "emp_no"
merged_df = merged_df.merge(salaries, on="emp_no")

merged_df

,emp_no,dept_no_x,dept_no_y,emp_title_id,birth_date,first_name,last_name,sex,hire_date,salary
0,110022,d001,d001,m0001,9/12/1956,Margareta,Markovitch,M,1/1/1985,71166
1,110039,d001,d001,m0001,6/21/1963,Vishwani,Minakawa,M,4/12/1986,69941
2,110085,d002,d002,m0001,10/28/1959,Ebru,Alpin,M,1/1/1985,60026
3,110114,d002,d002,m0001,3/28/1957,Isamu,Legleitner,F,1/14/1985,52070
4,110183,d003,d003,m0001,6/24/1953,Shirish,Ossenbruggen,F,1/1/1985,48291
5,110228,d003,d003,m0001,12/2/1958,Karsten,Sigstam,F,8/4/1985,40000
6,110303,d004,d004,m0001,6/8/1956,Krassimir,Wegerle,F,1/1/1985,42093
7,110344,d004,d004,m0001,9/7/1961,Rosine,Cools,F,11/22/1985,50365
8,110386,d004,d004,m0001,10/4/1953,Shem,Kieras,M,10/14/1988,40000
9,110420,d004,d004,m0001,7/27/1963,Oscar,Ghazalie,M,2/5/1992,40000
10,110511,d005,d005,m0001,7/8/1957,DeForest,Hagimont,M,1/1/1985,48626
11,110567,d005,d005,m0001,4/25/1964,Leon,DasSarma,F,10/21/1986,40000
12,110725,d006,d006,m0001,3/14/1961,Peternela,Onuegbe,F,1/1/1985,61357
13,110765,d006,d006,m0001,5/22/1954,Rutger,Hofmeyr,F,1/7/1989,40055
14,110800,d006,d006,m0001,2/7/1963,Sanjoy,Quadeer,F,8/12/1986,50457
15,110854,d006,d006,m0001,8/19/1960,Dung,Pesch,M,6/9/1989,45169
16,111035,d007,d007,m0001,2/24/1962,Przemyslawa,Kaelbling,M,1/1/1985,71612
17,111133,d007,d007,m0001,3/16/1955,Hauke,Zhang,M,12/30/1986,71148
18,111400,d008,d008,m0001,11/9/1959,Arie,Staelin,M,1/1/1985,72446
19,111534,d008,d008,m0001,6/27/1952,Hilary,Kambil,F,1/31/1988,48077
20,111692,d009,d009,m0001,10/5/1954,Tonny,Butterworth,F,1/1/1985,40000
21,111784,d009,d009,m0001,6/14/1956,Marjo,Giarratana,F,2/12/1988,40000
22,111877,d009,d009,m0001,10/18/1962,Xiaobin,Spinelli,F,8/17/1991,53846
23,111939,d009,d009,m0001,3/25/1960,Yuchang,Weedman,M,7/10/1989,40000

In [11]:
# column_to_drop = 'dept_no_x'
# merged_df.drop(column_to_drop, axis=1, inplace=True)
# merged_df

In [12]:
# Merging the resulting DataFrame with employees on "emp_no"
merged_df = merged_df.merge(departments, on="dept_no_x")

# Merging the resulting DataFrame with salaries on "emp_no"
Employee_df = merged_df.merge(titles, on="title_id")
Employee_df.head()

KeyError: 'dept_no_x'